In [116]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data_df = pd.read_csv("animal longevity.csv")
data_df.head()

,HAGRID,Kingdom,Phylum,Class,Order,Family,Genus,Species,Common name,Female maturity (days),...,Source,Specimen origin,Sample size,Data quality,IMR (per yr),MRDT (yrs),Metabolic rate (W),Body mass (g),Temperature (K),References
0,3.0,Animalia,Annelida,Polychaeta,Sabellida,Siboglinidae,Escarpia,laminata,Escarpia laminata,NaN,...,1466,wild,medium,acceptable,NaN,NaN,NaN,NaN,NaN,1.466000e+03
1,5.0,Animalia,Annelida,Polychaeta,Sabellida,Siboglinidae,Lamellibrachia,luymesi,Lamellibrachia luymesi,NaN,...,652,wild,small,acceptable,NaN,NaN,NaN,NaN,NaN,6.520000e+02
2,6.0,Animalia,Annelida,Polychaeta,Sabellida,Siboglinidae,Seepiophila,jonesi,Seepiophila jonesi,NaN,...,1467,wild,small,acceptable,NaN,NaN,NaN,NaN,NaN,1.467000e+03
3,8.0,Animalia,Arthropoda,Arachnida,Araneae,Theridiidae,Latrodectus,hasselti,Australian redback spider,NaN,...,NaN,unknown,medium,low,NaN,NaN,NaN,NaN,NaN,1.455000e+03
4,9.0,Animalia,Arthropoda,Branchiopoda,Diplostraca,Daphniidae,Daphnia,pulicaria,Daphnia,NaN,...,NaN,unknown,medium,acceptable,NaN,NaN,NaN,NaN,NaN,1.294130e+11

In [117]:
data_df.drop('HAGRID', axis=1).describe()

C:\Users\wwgid\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\core\nanops.py:1010: RuntimeWarning: overflow encountered in square
  sqr = _ensure_numeric((avg - values) ** 2)

,Female maturity (days),Male maturity (days),Gestation/Incubation (days),Weaning (days),Litter/Clutch size,Litters/Clutches per year,Inter-litter/Interbirth interval,Birth weight (g),Weaning weight (g),Adult weight (g),Growth rate (1/days),Maximum longevity (yrs),IMR (per yr),MRDT (yrs),Metabolic rate (W),Body mass (g),Temperature (K),References
count,2485.000000,1905.000000,1835.000000,768.000000,2.093000e+03,1304.000000,765.000000,1.230000e+03,3.840000e+02,3.663000e+03,559.000000,4141.000000,43.000000,43.000000,627.000000,6.270000e+02,494.000000,4.644000e+03
mean,1029.443058,940.518635,88.743869,140.052083,1.449034e+05,1.461656,387.202614,1.145008e+04,5.725503e+04,1.763312e+05,0.151687,25.523774,0.182660,236.627442,11.830891,1.318790e+04,308.592247,1.851270e+242
std,1656.834711,1020.610062,196.460204,162.223798,6.557596e+06,1.061459,318.639655,1.071970e+05,8.690862e+05,3.294818e+06,0.170657,251.237021,0.330433,424.672854,97.508141,1.507410e+05,4.880814,inf
min,3.000000,3.000000,1.000000,7.000000,1.000000e+00,0.000000,20.000000,4.000000e-03,2.065000e+00,5.000000e-01,0.000300,0.010000,0.000200,0.040000,0.000099,7.600000e-01,278.500000,1.000000e+00
25%,365.000000,365.000000,21.000000,35.000000,1.000000e+00,1.000000,189.000000,3.242500e+00,2.160000e+01,4.750000e+01,0.021400,8.800000,0.018500,1.800000,0.265500,2.590000e+01,308.250000,4.248420e+05
50%,578.000000,639.000000,36.000000,76.000000,3.000000e+00,1.000000,365.000000,2.465000e+01,1.775000e+02,4.565000e+02,0.081000,15.000000,0.060000,6.000000,0.705000,1.313000e+02,309.650000,1.305131e+07
75%,1186.000000,1095.000000,126.000000,182.000000,5.000000e+00,2.000000,376.000000,2.500000e+02,2.000000e+03,3.500000e+03,0.219500,24.000000,0.250000,23.500000,3.137000,1.111150e+03,311.050000,5.509005e+12
max,56940.000000,9855.000000,7397.000000,1111.000000,3.000000e+08,10.000000,4562.000000,2.000000e+06,1.700000e+07,1.360000e+08,0.680000,15000.000000,2.000000,999.000000,2336.500000,3.672000e+06,314.150000,8.597300e+245

In [17]:
data_df.columns()

Index(['HAGRID', 'Kingdom', 'Phylum', 'Class', 'Order', 'Family', 'Genus',
       'Species', 'Common name', 'Female maturity (days)',
       'Male maturity (days)', 'Gestation/Incubation (days)', 'Weaning (days)',
       'Litter/Clutch size', 'Litters/Clutches per year',
       'Inter-litter/Interbirth interval', 'Birth weight (g)',
       'Weaning weight (g)', 'Adult weight (g)', 'Growth rate (1/days)',
       'Maximum longevity (yrs)', 'Source', 'Specimen origin', 'Sample size',
       'Data quality', 'IMR (per yr)', 'MRDT (yrs)', 'Metabolic rate (W)',
       'Body mass (g)', 'Temperature (K)', 'References'],
      dtype='object')

In [42]:
data_df.shape

(4646, 29)

In [118]:
from sklearn.preprocessing import LabelEncoder

data_df.drop(data_df.head(27).index,inplace=True)
data_df.drop(data_df.tail(1).index,inplace=True)

data_df['Temperature (K)'] = ((np.abs(data_df['Temperature (K)'])-273.15) * 1.8) + 32
data_df = data_df.rename(columns = {'Temperature (K)':'Temperature', 'Common name':'Name', 'Birth weight (g)':'Birth weight', 
                                    'Adult weight (g)':'Adult weight', 'Maximum longevity (yrs)':'Longevity',
                                    'Specimen origin':'Origin', 'Body mass (g)':'Body mass', 'Metabolic rate (W)':'Metabolic rate',
                                   'Male maturity (days)':'Male maturity', 'Female maturity (days)':'Female maturity'})

data_df = data_df.drop(['References',
                        'Litter/Clutch size',
                        'Litters/Clutches per year', 
                        'Inter-litter/Interbirth interval',
                        'Source',
                        'IMR (per yr)',
                        'MRDT (yrs)', 
                        'Sample size', 
                        'Growth rate (1/days)', 
                        'Data quality', 
                        'Weaning weight (g)', 
                        'Gestation/Incubation (days)', 
                        'Weaning (days)', 'Family', 'Name', 'Genus', 'Species'], axis = 1)

for column in ['Kingdom', 'Phylum', 'Class']:
    dummies = pd.get_dummies(data_df[column], prefix=column)
    data_df = pd.concat([data_df, dummies], axis=1)
    data_df = data_df.drop(column, axis=1).reset_index(drop=True)

class_labels = LabelEncoder()
data_df['Origin'] = class_labels.fit_transform(data_df['Origin'].values)

data_df['Temperature'].fillna(data_df['Temperature'].mean(), inplace=True)
data_df['Adult weight'].fillna(data_df['Adult weight'].mean(), inplace=True)
data_df['Birth weight'].fillna(data_df['Birth weight'].mean(), inplace=True)

data_df['Body mass'] = data_df['Body mass'].interpolate()
data_df['Longevity'] = data_df['Longevity'].interpolate()
data_df['Female maturity'] = data_df['Female maturity'].interpolate()
data_df['Male maturity'] = data_df['Male maturity'].interpolate()
data_df['Metabolic rate'] = data_df['Metabolic rate'].interpolate()

data_df['Birth weight'] = np.abs(data_df['Birth weight']) / 1000
data_df['Adult weight'] = np.abs(data_df['Adult weight']) / 1000
data_df['Male maturity'] = np.abs(data_df['Male maturity']) / 365
data_df['Female maturity'] = np.abs(data_df['Female maturity']) / 365



data_df.head()

,HAGRID,Order,Female maturity,Male maturity,Birth weight,Adult weight,Longevity,Origin,Metabolic rate,Body mass,...,Class_Magnoliopsida,Class_Mammalia,Class_Pinopsida,Class_Reptilia,Class_Rhabditophora,Class_Saccharomycetes,Class_Schizosaccharomycetes,Class_Sordariomycetes,Class_Teleostei,Class_Trepaxonemata
0,36.0,Anura,2.493151,2.493151,11.450084,0.021767,36.0,0,0.008290,21.600000,...,False,False,False,False,False,False,False,False,False,False
1,37.0,Anura,3.000000,3.000000,11.450084,176.331211,11.5,0,0.008144,21.333333,...,False,False,False,False,False,False,False,False,False,False
2,38.0,Anura,4.000000,3.500000,11.450084,176.331211,8.0,2,0.007999,21.066667,...,False,False,False,False,False,False,False,False,False,False
3,39.0,Anura,5.000000,4.000000,11.450084,176.331211,15.0,2,0.007853,20.800000,...,False,False,False,False,False,False,False,False,False,False
4,40.0,Anura,2.000000,2.000000,11.450084,176.331211,10.7,0,0.007708,20.533333,...,False,False,False,False,False,False,False,False,False,False

In [111]:
data_df['Longevity'].head(50)

0     36
1     11
2      8
3     15
4     10
5     12
6     13
7     11
8     15
9     10
10    10
11    40
12    15
13     5
14    10
15    20
16    11
17    28
18    26
19    24
20    15
21    12
22    15
23    10
24    14
25     5
26    20
27    11
28    10
29     9
30     7
31     9
32    10
33     7
34     4
35    12
36    22
37     7
38    10
39    12
40     8
41     8
42     7
43    13
44    20
45    12
46     6
47     8
48     9
49    11
Name: Longevity, dtype: int32

In [91]:
data_df.isna().sum()

HAGRID                         0
Order                          0
Female maturity                0
Male maturity                  0
Birth weight                   0
Adult weight                   0
Longevity                      0
Origin                         0
Metabolic rate                 0
Body mass                      0
Temperature                    0
Kingdom_Animalia               0
Kingdom_Fungi                  0
Kingdom_Monera                 0
Kingdom_Plantae                0
Phylum_Ascomycota              0
Phylum_Chordata                0
Phylum_Cnidaria                0
Phylum_Echinodermata           0
Phylum_Mollusca                0
Phylum_Nematoda                0
Phylum_Pinophyta               0
Phylum_Platyhelminthes         0
Phylum_Porifera                0
Phylum_Proteobacteria          0
Phylum_Tracheophyta            0
Phylum_Tracheophytes           0
Class_Amphibia                 0
Class_Anthozoa                 0
Class_Ascidiacea               0
Class_Aves                     0
Class_Bivalvia                 0
Class_Cephalaspidomorphi       0
Class_Cephalopoda              0
Class_Chondrichthyes           0
Class_Chondrostei              0
Class_Chromadorea              0
Class_Cladistei                0
Class_Coelacanthi              0
Class_Demospongiae             0
Class_Dipnoi                   0
Class_Echinoidea               0
Class_Gammaproteobacteria      0
Class_Gastropoda               0
Class_Ginkgoopsida             0
Class_Hexactinellida           0
Class_Holostei                 0
Class_Hydrozoa                 0
Class_Magnoliopsida            0
Class_Mammalia                 0
Class_Pinopsida                0
Class_Reptilia                 0
Class_Rhabditophora            0
Class_Saccharomycetes          0
Class_Schizosaccharomycetes    0
Class_Sordariomycetes          0
Class_Teleostei                0
Class_Trepaxonemata            0
dtype: int64

In [119]:
%store data_df

Stored 'data_df' (DataFrame)